<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DS_Gadget.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <DS_Gadget.Properties.Settings>
            <setting name="FilterEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterBrightnessSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterBrightnessR" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FilterBrightnessG" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FilterBrightnessB" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FilterContrastSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterContrastR" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FilterContrastG" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FilterContrastB" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FilterSaturation" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FilterHue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HotkeyFilter" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="HotkeyMoveswap" serializeAs="String">
                <value>97</value>
            </setting>
            <setting name="HotkeyAnim" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="HotkeyStore" serializeAs="String">
                <value>104</value>
            </setting>
            <setting name="HotkeyRestore" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="HotkeyGravity" serializeAs="String">
                <value>98</value>
            </setting>
            <setting name="HotkeyCollision" serializeAs="String">
                <value>101</value>
            </setting>
            <setting name="HotkeySpeed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="EnableHotkeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HandleHotkeys" serializeAs="String">
                <value>True</value>
            </setting>
        </DS_Gadget.Properties.Settings>
    </userSettings>
</configuration>
