<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fasm.NET" version="1.70.03.2" targetFramework="net462" />
  <package id="LowLevelHooking" version="1.0.1" targetFramework="net462" />
  <package id="Octokit" version="0.29.0" targetFramework="net462" />
  <package id="Semver" version="2.0.4" targetFramework="net462" />
</packages>